@{ ViewData["Title"] = "Home Page"; }

@model SimplePlayer

<style>
    p {
        font-family: "Roboto", sans-serif;
    }

    .list-group-item.active {
        background-color: seagreen;
        border-color: seagreen;
    }

    #game {
        background-color: darkgrey;
        border-radius: 1vh;
        height: 400px;
    }

    #title {
        margin-bottom: 0;
        color: white;
    }

    #last-scores-table {
        padding-left: 3%;
    }

    body {
        background-color: black;
    }

    .card-header.text-center {
        background-color: black;
        border-color: white;
    }

    .list-group-item {
        background-color: black;
        border-color: white;
    }

    h4 {
        color: white;
    }

    div {
        color: white;
    }
</style>

<body>
    <div class="row mb-3 mt-4">
        <!-- Information BEGIN -->
        <div class="col-9">
            <div class="row align-items-end">
                <div class="col text-start">Score <span id="score">0000</span></div>
                <h4 id="title" class="col text-center">You Shall Pass</h4>
                <div class="col text-end">Highscore <span id="highscore">0000</span></div>
            </div>
        </div>
        <!-- Information END -->

        <div class="col-3"></div>
    </div>
    <div class="row">

        <div id="game" class="col-9"></div>

        <!-- Best Scores Table  BEGIN -->
        <div id="last-scores-table" class="col-3">
            <div class="card">
                <div class="card-header text-center">Your Best Scores</div>
                <div id="players" class="list-group list-group-flush">
                    <!-- Scores BEGIN -->
                    
                    <!-- Scores END -->
                </div>
            </div>
        </div>
        <!-- Best Scores Table END -->
    </div>
    <div class="row">
        @if (Model != null)
        {
        <div id="edit" class="col text-start">
            <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.id">Editar datos de registro</a>
        </div>
        <div id="delete" class="col text-end">
            <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.id">Borrar datos</a>
        </div>}
    </div>
</body>

<script>

    function updateScore() {
        $.get("/api/game/@ViewData["id"]").done( //scores jugador
            function (data) {
                $("#score").text(data);

                if (data > parseInt($("#highscore").text())) {
                    $("#highscore").text(data);
                }
            }
        )

        $.get("/api/game/").done( //Scoreboard jugador
            function (data) {
                <script src="https://d3js.org/d3.v7.min.js">
                    
                </script>
            }
        )

        @*$.ajax("/api/game", {
            method: "POST",
            dataType: "json",
            processData: false,
            contentType: "applications/json; charset=utf-8"
        }).done(
            function (data) {
            console.log(data);
            }
        );*@
    };        
</script>