@*
    Vista base para formulario de prueba POST
*@

@model Player

@if (ViewData["Error"] != null)
{
    <div class="alert-danger" role="alert">@ViewData["Error"]</div>
}

<style>
    label {
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
</style>

<!-- Formulario basico-->
<body style="background-color: black;">
    <form method="post" asp-controller="Home" asp-action="Register">

        <div class="row">
            <div class="col-2">
                <label for="nickname">Nickname:</label>
            </div>
            <div class="col">
                <input asp-for="Nickname" placeholder="Input your name" /><br />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="email">Email:</label>
            </div>
            <div class="col">
                <input asp-for="Email" placeholder="Input your email" /><br />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="age">Age:</label>
            </div>
            <div class="col">
                <input asp-for="Age" placeholder="Input your age" /><br />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
        <label for="country">Country:</label>
            </div>
            <div class="col">
        <input asp-for="Country" placeholder="Input your country" /><br />
            </div>
        </div>

        <input type="submit" value="Enviar" />
    </form>
</body>